{{#partial "content"}}

    <div class="row">
        <div class="column col-md-9">

        <h2>Success!</h2><br>
        <strong>Great!</strong> The visitor has been created.<br>
    <p>
        <a href="/">Home</a>
    </p>
    <br>
    </div>


    </div>

{{/partial}}

{{> layout.hbs}}