{{#partial "content"}}
    <div class="row">
        <div class="column col-md-9">
            <h3>Visitors Table</h3>

            <div class="table-responsive">
                <table class="table table-bordered table-dark table-sm">

                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Firstname</th>
                        <th scope="col">Sirname</th>
                        <th scope="col">ID</th>
                        <th scope="col">Company</th>
                        <th scope="col">Time in</th>
                        <th scope="col">Time out</th>
                        <th scope="col">Works Order</th>
                        <th scope="col">H & S Adhered</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>123456</td>
                        <td>Safaricom PLC</td>
                        <td>12.45</td>
                        <td>14.00</td>
                        <td>CRQ123456</td>
                        <td>Yes</td>

                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Liz</td>
                        <td>Akinyi</td>
                        <td>654321</td>
                        <td>Safaricom PLC</td>
                        <td>12.45</td>
                        <td>14.00</td>
                        <td>CRQ654321</td>
                        <td>Yes</td>
                    </tr>

                    </tbody>
                    <caption>List of visitors</caption>
                </table>

            </div>

        </div>

{{/partial}}

{{> layout.hbs}}